{% extends 'index.html' %}
{% block contentarea %}

<div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
  <br><br>
  <div class="dress-group">
    <div style="width: 32%;float:left;">
        <div class="card" style="border: none;">
            <div class="card-body" style="border: none;">
                <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19816720/2022/9/8/bc88f5e1-55cb-4c42-b69a-1a242a7696ee1662617412324KAAJHWomenBlueEmbroideredPureCottonEthnicDresses1.jpg" alt=""
                style="max-width: 310px;height: 519px;">

            </div>
        </div>
    </div>
    <div style="width: 32%;float:left;">
        <div class="card" style="border: none;">
            <div class="card-body">
                <img src="https://i.pinimg.com/736x/a0/09/3f/a0093fdcb47239db2ab7328ddb65979f.jpg" alt=""
                style="max-width: 310px;height: 519px;">
            </div>
        </div>
    </div>
    <div style="width: 32%;float:left;">
        <div class="card" style="border: none;">
            <div class="card-body">
                <img src="https://5.imimg.com/data5/OS/GJ/MY-37269396/party-wear-silk-embroidery-coti-style-gown-99001-500x500.jpg" alt="dress"
                style="max-width: 310px;height: 519px;">
            </div>
        </div>
    </div>
  </div>
  <div style="clear: both;">
    <br><br>
  </div>
  <div class="cloth-types">
    
    <div>
        <img src="https://images.meesho.com/images/products/143278660/xaq3b_512.webp" 
        alt="kurti" style="border-radius: 50%;width: 100px; height: 100px;"><br>
        <label for="" style="margin-left: 30px;">Kurti</label>
    </div>
    <div>
        <img src="https://5.imimg.com/data5/SELLER/Default/2022/7/ZO/EN/IX/18451800/party-wear-look-malai-satin-silk-gown-diamond-work-full-set-anarkali-1000x1000.jpeg" 
        alt="kurti" style="border-radius: 50%;width: 100px; height: 100px;">
        <br>
        <label for="" style="margin-left: 20px;">Full Set</label>
    </div>
    
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjKR0piDOH-XLGA4tA5tLioai_py5zB677FQ&usqp=CAU" 
        alt="kurti" style="border-radius: 50%;width: 100px; height: 100px;">
        <br>
        <label for="" style="margin-left: 20px;">Bottoms</label>
    </div>
    <div>
        <img src="https://img1.exportersindia.com/product_images/bc-full/2019/9/4373770/ladies-party-wear-dress-1568286981-5077328.jpeg" 
        alt="kurti" style="border-radius: 50%;width: 100px; height: 100px;">
        <br>
        <label for="" style="margin-left: 10px;">Party Wear</label>
    </div>
    <div>
        <img src="https://www.pinkvilla.com/files/styles/amp_metadata_content_image/public/indo_western_dresses.jpg" 
        alt="kurti" style="border-radius: 50%;width: 100px; height: 100px;">
        <br>
        <label for="" style="margin-left: 10px;">Indo Western</label>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNylMltBJCrl-cmipR_4J9OWkoj3dHsQ7FCw&usqp=CAU" 
        alt="kurti" style="border-radius: 50%;width: 100px; height: 100px;">
        <br>
        <label for="" style="margin-left: 30px;">Saree</label>
    </div>
  </div>
  <br>
  <div style="text-align: center;">
    <h3>New Arrivals</h3>
    <label for="">Recent launch Latest trends | <a title="view all" style="cursor: pointer;" href="#">VIEW ALL</a></label>
  </div>

  <div class="cloth-cards card-group" style="justify-content: space-evenly;">
    <div class="card" style="max-width: 30%;">
        <div class="card-body">
            <img src="https://stylesatlife.com/wp-content/uploads/2021/04/Embroidered-Straight-Salwar-Kameez-Suit.jpg.webp" alt="dress"
            style="width: 310px;height: 519px;">
        </div>
        <div class="card-footer" style="cursor: pointer;">
            <a>New Trending Suits...</a>
        </div>
    </div>
    <div class="card" style="max-width: 30%;">
        <div class="card-body">
            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/15587316/2021/9/23/7abf2d4a-8c82-4f4f-b47b-cd0fcad953a21632403630803IndianVirasatSeaGreenMaxiDress1.jpg" alt="dress"
            style="width: 310px;height: 519px;">
        </div>
        <div class="card-footer" style="cursor: pointer;">
            <a>New Trending Suits...</a>
        </div>
    </div>
    <div class="card" style="max-width: 30%;">
        <div class="card-body">
            <img src="https://stylesatlife.com/wp-content/uploads/2021/04/Modern-High-Low-Anarkali-Kurta.jpg.webp"
            style="width: 310px;height: 519px;">
        </div>
        <div class="card-footer" style="cursor: pointer;">
            <a>New Trending Suits...</a>
        </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="cloth-cards card-group" style="justify-content: space-evenly;">
    <div class="card" style="max-width: 30%;">
        <div class="card-body">
            <img src="https://storage.sg.content-cdn.io/cdn-cgi/image/width=300,height=450,quality=75,format=auto,fit=cover,g=top/in-resources/6c57599f-2c43-4c82-806a-e07c3410f5d3/Images/ProductImages/Source/geoindi18153ss22indigo_1.jpg" alt="dress"
            style="width: 310px;height: 519px;">
        </div>
        <div class="card-footer" style="cursor: pointer;">
            <a>New Trending Suits...</a>
        </div>
    </div>
    <div class="card" style="max-width: 30%;">
        <div class="card-body">
            <img src="https://cdn.shopify.com/s/files/1/1762/5129/files/straight-pant-indian-dress.jpg?v=1640821479" alt="dress"
            style="width: 310px;height: 519px;">
        </div>
        <div class="card-footer" style="cursor: pointer;">
            <a>New Trending Suits...</a>
        </div>
    </div>
    <div class="card" style="max-width: 30%;">
        <div class="card-body">
            <img src="https://stylesatlife.com/wp-content/uploads/2021/04/Classic-Printed-Straight-Kurta.jpg.webp"
            style="width: 310px;height: 519px;">
        </div>
        <div class="card-footer" style="cursor: pointer;">
            <a>New Trending Suits...</a>
        </div>
    </div>
  </div>


{% endblock contentarea %}