<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .nav-link,.navbar-brand{
            color:white !important;
        }
        .nav-link:hover , .navbar-brand:hover{
            color : rgb(197, 197, 197) !important;
        }
    </style>
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert-message-div">
          <strong>Hub Hut!</strong> {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <script>
              let timeout = 5000;
              let div = document.getElementById('alert-message-div');
              setTimeout((resp) => {
                  div.style.display = "none"
                  
              }, timeout);
          </script>
        </div>
        {% endfor %}
    <nav class="navbar navbar-expand-lg  " style="color:white !important;background-color: #b28d02 !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">FABHUT BOTIQUE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Filter
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/clothes/">All</a></li>
                  <li><a class="dropdown-item" href="/clothes/?query=kurta">Kurtas</a></li>
                  <li><a class="dropdown-item" href="/clothes/?query=salwar kameex">Salwar Kameez</a></li>
                  <li><a class="dropdown-item" href="/clothes/?query=plazo">Plazo</a></li>
                  <li><a class="dropdown-item" href="/clothes/?query=saree">Saree</a></li>
                </ul>
              </li>
             
            </ul>
            <form class="d-flex ml-auto" role="search" action="/clothes/">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div>
        <div>
            {%block contentarea%}
            {%endblock contentarea%}
        </div>
      </div>
</body>
</html>