{% extends 'master.html' %}
{% block contentarea %}
{%if query%}
<script>
    document.title = "{{query}} | FABHUT"
</script>
{%else%}
<script>
    document.title = "clothes | FABHUT"
</script>
{%endif%}
<div>
    {%if query%}
    <h2>Results for: {{query}}</h2>
    {%endif%}
</div>
<div>
    <div class="card-group">
    {%for cloth in clothes%}
    <div class="card" style="border: solid 5px; border-color:white;max-width: 30%;">
        <div class="card-header" style="background-image: url('/media/{{cloth.photo1}}');height:300px;background-size: cover;">
        </div>
        <div class="card-body">
            <p><strong>{{cloth.name}}</strong></p>
            <p>{{cloth.description | slice:"0:17"}}</p>
        </div>
        <div class="card-footer">
            <a href="/clothes/{{cloth.id}}/buy"><button class="btn btn-primary">Buy Now</button></a>
            <form action="/clothes/{{cloth.id}}/add-to-cart" method="post" style="display: inline;">
                {%csrf_token%}
                <button class="btn btn-outline-success" type="submit">Add To cart</button>
            </form>
        </div>
    </div>
    {%endfor%}
</div>
</div>


{% endblock contentarea %}